nav {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.accueilButton {
    height: 30px;

}

.input {
    height: 24px;
    width: 250px;
}

.searchButton {
    height: 30px;
}